<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key = "ConnectionString" value ="Server=klamath\klamathpc;user=sa;password=1234;Database=test" />
        <add key = "ServerType" value ="sqlserver"/>
        <add key = "LogEnabled" value ="true"/>
		<add key = "LogFilePath" value ="log.txt"/>
        <add key = "CommandTimeout" value ="50"/>
        <add key = "ProviderMySql" value = "MySql.Data.dll"/>
        <add key = "ProviderMySqlParameterChar" value="?" />
	</appSettings>
</configuration>


