Access/Provider=Microsoft.Jet.OLEDB.4.0 ;Data Source=d:\My Documents\Northwind2003.mdb
Access/Provider=Microsoft.Jet.OLEDB.4.0 ;Data Source=d:\test.mdb
SqlServer/server=klamath\klamathpc;integrated security=sspi;database = northwind
SqlServer/server=mariusg\marius;integrated security=sspi;database = northwind
MySql/Host=localhost; UserName=root; Password=;Database=Northwind
mysql/DRIVER={MySQL ODBC 3.51 Driver};SERVER=localhost;DATABASE=test;USER=sa;PASSWORD=;
SqlServer/server=marius;user=sa;password=1234;database = nothwind
SqlServer/server=Marius;user=sa;password=1234;database = nothwind
SqlServer/server=Marius;user=sa;password=1234;database = objectwire
SqlServer/server=Marius;user=sa;password=1234;database = libmanager
SqlServer/server=mariusg\marius;integrated security=sspi;database=test
SqlServer/server=klamath\klamathpc;integrated security=sspi;database=test
PostgreSQL/Server=127.0.0.1;Port=5432;User Id=postgres;Password=1234;Database=test;
PostgreSql/DRIVER={PostgreSql};port=5432;SERVER=localhost;DATABASE=test;UID=postgres;PASSWORD=1234;
SqlServer/server=klamath\klamathpc;integrated security=sspi;database=DataModels
SqlServer/server=klamath\sqlexpress;integrated security=sspi;database=ThinkBig
SqlServer/server=devstation\sqlexpress;user=sa;password=1234;database=eshop
SqlServer/server=devstation\sqlexpress;integrated security=sspi;database = eshop
