src/voidsoft.DataBlock/bin/Release/voidsoft.DataBlock.dll
src/voidsoft.DataBlock/bin/Release/voidsoft.DataBlock.xml
src/voidsoft.DataBlock/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/voidsoft.DataBlock/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
src/voidsoft.DataBlock/obj/Release/voidsoft.DataBlock.csproj.FileListAbsolute.txt
src/voidsoft.DataBlock/obj/Release/voidsoft.DataBlock.csprojResolveAssemblyReference.cache
src/voidsoft.DataBlock/obj/Release/voidsoft.DataBlock.dll
src/voidsoft.DataBlock/voidsoft.DataBlock.v11.suo
src/voidsoft.DataBlock/voidsoft.DataBlock.xml
