<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
		<add key = "ConnectionString" value ="Data Source=klamath\klamathpc;Initial Catalog=test;User Id=sa;Password=1234;" />
		<add key = "ServerType" value ="sqlserver"/>
		<add key = "LogEnabled" value ="true"/>
		<add key = "LogFilePath" value ="troc.txt"/>
        <add key = "CommandTimeout" value ="50"/>
        <add key = "ProviderMySql" value = "odbc"/>
        <add key = "ProviderMySqlParameterChar" value="@" />
        <add key = "ProviderPostgreSql" value = "odbc"/>
        <add key = "ProviderPostgreSqlParameterChar" value="@" />
	</appSettings>
</configuration>